// Video Home page 
.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;

    .video-container {
        flex: 1 1 42rem;

        video {
            border-radius: 1rem;
            width: 100%;
        }

        .controls {
            text-align: center;
            padding: 2rem 0;

            span {
                display: inline-block;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                background: $gold-color;
                cursor: pointer;
                margin: 0.7rem;

                &:hover {
                    background: $blue;
                }
            }
        }
    }

    .content {
        flex: 1 1 42rem;
        margin-bottom: 5rem;

        span {
            color: $gold-color;
            font-size: 2rem;             
        }

        h1 {
            color: $brown;
            font-size: 4rem;
            margin-top: 0.5rem;
        }

        p {
            padding: 1rem 0;
            margin-bottom: 1.5rem;
            color: $brown;
            font-size: 1.5rem;
            font-weight: 400;
        }

        a.btn {
            font-size: 1.5rem;
            font-weight: 500;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            background-color: rgba(0, 0, 0, 0.1);
            border: 2px solid $gold-color;
            cursor: pointer;
            color: $gold-color;

            &:hover {
                color: $brown;
                border: 2px solid white;
            }
        }
    }
}