// Destinations 
.heading {
    text-align: center;
    margin-bottom: 2rem;

    span {
        color: $gold-color;
        font-size: 2rem;
    }

    h2 {
        font-size: 4rem;
        color: $brown;
    }
}
/// Boxes ///
.destination .box-container {
    @include grid(27rem);

    .box {
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 5px 9px 8px #dddcdc;

        &:hover img {
            transform: scale(1.1);
        }

        .image {
            height: 20rem;
            overflow: hidden;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 2rem;
            text-align: center;

            h3 {
                font-size: 2rem;
                color: $brown;
            }

            p {
                padding-bottom: 1rem;
            }

            a {
                color: $brown;
                font-weight: 700;
                text-decoration: overline;

                &:hover {
                    color: $gold-color;
                }
            }
        }
    }
}