// Footer 
footer {
    padding: 0;
    margin-top: 3rem;
    background: #f5f5f7;
    font-size: 1.3rem;
    .footer-content{
        max-width: 980px; width: 95vw;
        margin: 0 auto;
    }
    ul{
        list-style: none;
    }
    .box-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5rem;
        .box {
            h3 {
                color: $black;
                padding: 1rem 0;
                font-size: 1.3rem;
            }
            ul{
                li{
                    margin-bottom: 1rem; 
                }
                a{
                    color: $black;
                    &:hover{
                        border-bottom: 1px solid $black;
                        
                    } 
                }
            } 
        }
    }
    .footer-shop{
        width: 100%;
        
        a{
            color: #0066CC;
            &:hover{
                border-bottom: 1px solid #0066CC;
                
            }
        }
    }
    .divider{
        padding-top: 1rem;
        border-bottom: 1px solid rgb(182, 182, 182);
    }
    .legal{
        padding-bottom: 2rem;
        .copyrights {
            opacity: 0.9;
            font-size: 1.3rem;
            font-weight: 500;
            padding: 1rem 0;
            p {
                color: rgb(71, 71, 71);
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            font-weight: 500;
            li{
                padding-right: 1rem;
                border-right: 1px solid rgb(182, 182, 182);
            }
            a{
                color: $black;
                &:hover{
                    border-bottom: 1px solid #0066CC;
                    
                }
            }
            li:last-child{
                border-right: none;
            }
        }
    }
}
// @media (max-width: 840px) {
//     .box-container{
//         //skapa layout för mobile
//         background-color: aqua;
//     }
    
// }