// Home page section home
.home {
  background: url(/apple_store/images/home_images/h1.1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  justify-content: flex-start;

  .content {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 3rem;

    p {
      margin-top: -4rem;
      font-size: 2.5rem;
      margin-bottom: 3.5rem;
    }

    ul li {
      list-style: none;
      display: inline;

      a {
        padding: 1.5rem;
        margin-bottom: 5rem;
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }
}

// Home section presentcard
.presentcard {
  background: url(/apple_store/images/home_images/h2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 57vh;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  .content {
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul li {
      list-style: none;
      display: inline;

      a {
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }
}

// Home section Ipad
.about_ipad {
  background: url(/apple_store/images/home_images/h3.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 58vh;
  min-width: 30vw;
  align-items: center;
  justify-content: center;

  .content_right {
    margin-top: 10rem;
    padding-left: 365px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul li {
      list-style: none;
      display: inline;

      a {
        padding: 1.5rem;
        margin-bottom: 5rem;
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }
}

// Mac homepage section home_mac

.home_mac {
  margin-top: 8rem;
  background: url(/Apple_store/images/mac_images/m1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  justify-content: flex-start;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    h1{
      font-size: 5.5rem;
      font-weight: 500;
      margin-top: .5rem;
    }
    h3{
      margin-top: 0.5rem;
      font-size: 3.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    .price{
      font-size: 2rem;
      font-weight: 200;
      margin-bottom: .5rem;
      margin-bottom: 1rem;
    }

    ul li {
      list-style: none;
      display: inline;

      a {
        padding: 1rem;
        margin-bottom: 5rem;
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 10rem;
  }
}

// MacBook Pro section

.macBook_pro {
  background: url(/Apple_store/images/mac_images/m2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  align-items: center;
  justify-content: flex-start;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    h2{
      font-size: 5.5rem;
      font-weight: 400;
      margin-top: .5rem;
    }

    h3{
      font-size: 3.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    .price{
      font-size: 2rem;
      font-weight: 200;
      margin-bottom: .5rem;
      margin-bottom: 1rem;
    }

    ul li {
      list-style: none;
      display: inline;
      padding: .5rem;
      margin-bottom: 2rem;

      a {
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 1rem;
    .s1 {
      font-size: 5vw;
      margin: 3rem;
    }
  }
}

// Mac Presentcard section

// iPad home img

.home_ipad {
  background: url(/Apple_store/images/ipad_images/i1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;

  .content {
    min-width: 30vh;
    display: flex;
    margin-top: 35rem;
    margin-left: 50rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    ul li {
      list-style: none;
      display: inline;

      a {
        padding: 1.5rem;
        margin-bottom: 5rem;
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 10rem;
  }
}

//iPad pro img
.ipad {
  background: url(/Apple_store/images/ipad_images/i2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 60vh;
  align-items: center;
  justify-content: center;

  .content {
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul li {
      list-style: none;
      display: inline;

      a {
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 1rem;

    .s1 {
      font-size: 5vw;
      margin: 3rem;
    }
  }
}

//Ipad text
.ipad_text {
  font-size: 5rem;
}

//Info ipad text
.info_ipad {
  font-weight: 700;
}

// About presentcard iPad
// .presentcard_ipad {
//   background: url(/Apple_store/images/ipad_images/i3.png) no-repeat;
//   background-size: cover;
//   background-position: center;
//   display: flex;
//   min-height: 60vh;
//   align-items: center;
//   justify-content: center;
//   // min-block-size: 50rem;

//   .content {
//     margin-top: 30rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     ul li {
//       list-style: none;
//       display: inline;

//       a {

//         font-size: 2rem;
//         color: #06c;
//         letter-spacing: inherit;
//       }
//     }
//   }

//   @media (min-width: 297.98px) and (max-width: 767.98px) {
//     padding: 3rem 1rem;

//     .s1 {
//       font-size: 5vw;
//       margin: 3rem;
//     }
//   }
// }

//Change ipad img
.change_ipad {
  background: url(/Apple_store/images/ipad_images/i4.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 60vh;
  align-items: center;
  justify-content: center;

  .content {
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul li {
      list-style: none;
      display: inline;

      a {
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 1rem;

    .s1 {
      font-size: 5vw;
      margin: 3rem;
    }
  }
}

// .home_ipad {
//   background: url(/Apple_store/images/ipad_images/i1.png) no-repeat;
//   background-size: cover;
//   background-position: center;
//   display: flex;
//   min-height: 80vh;
//   align-items: center;
//   justify-content: center;
// }

// Iphone home img

.home_reference {
  background: url(/images/p7.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

// Contact home img
.home_contact {
  background: url(/images/p8.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

//Contact form
input[type='text'],
select,
textarea {
  display: flex;
  color: $brown;
  font-weight: 900;
  opacity: 0.6;
  width: 33vw;
  padding: 1rem;
  border-radius: 0.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
