.home {
  margin-top: 3rem;
  background: url(/apple_store/images/home_images/h1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;

  .content {
    min-width: 30vh;
    display: flex;
    margin-top: -50rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    ul li {
      list-style: none;
      display: inline;

      a {
        padding: 1.5rem;
        margin-bottom: 5rem;
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }

    @media (min-width: 297.98px) and (max-width: 767.98px) {
      padding: 3rem 1rem;
      .form {
        #email-s {
          display: block;
          font-size: 1.5rem;
          font-weight: 600;
          opacity: 0.5;
          border-radius: 5px;
          padding: 0.9rem 1rem;
          margin-bottom: 1.5rem;
          width: 50vw;
        }

        #party {
          display: block;
          font-size: 1.5rem;
          font-weight: 600;
          opacity: 0.5;
          border-radius: 5px;
          padding: 0.9rem 1rem;
          width: 50vw;
        }

        input[type='text'],
        select,
        textarea {
          display: flex;
          color: $brown;
          font-weight: 900;
          opacity: 0.6;
          width: 50vw;
          padding: 1rem;
          border-radius: 0.6rem;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }

    .logo {
      padding: 0.2rem;
      font-size: 5rem;
      font-weight: 700;
      color: $gold-color;
      text-decoration: none;

      @media (min-width: 297.98px) and (max-width: 625px) {
        font-size: 3rem;
      }
    }

    .headerlogo {
      font-family: $fonts-logo;
    }

    span {
      font-weight: bold;
      color: transparent;
      -webkit-text-stroke: 0.1rem white;
      font-size: 3vw;
      display: block;
    }

    .s1 {
      font-family: 'Bilbo Swash Caps', 'Montserrat', 'Poppins', sans-serif;
      font-size: 6vw;
      color: white;
      line-break: normal;
    }

    #email {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      opacity: 0.5;
      border-radius: 5px;
      padding: 0.9rem 1rem;
      margin-bottom: 1.5rem;
      width: 33vw;
    }

    #email-s {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      opacity: 0.5;
      border-radius: 5px;
      padding: 0.9rem 1rem;
      margin-bottom: 1.5rem;
      width: 33vw;
    }

    #party {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      opacity: 0.5;
      border-radius: 5px;
      padding: 0.9rem 1rem;
      width: 33vw;
    }

    .p1 {
      max-width: 60rem;
      margin: 2rem auto;
      font-size: 2rem;
      font-weight: 700;
      color: whitesmoke;
      line-height: 1;
    }
  }
}

// About Ipad
.ipad {
  background: url(/apple_store/images/home_images/h2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 60vh;
  align-items: center;
  justify-content: center;

  .content {
    margin-top: 150px;
    padding-left: 365px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    ul li {
      list-style: none;
      display: inline;

      a {
        padding: 1.5rem;
        margin-bottom: 5rem;
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 1rem;
    .s1 {
      font-size: 5vw;
      margin: 3rem;
    }
  }
}

// About presentcard 
.presentcard {
  background: url(/apple_store/images/home_images/h3.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 60vh;
  align-items: center;
  justify-content: center;

  .content {
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul li {
      list-style: none;
      display: inline;

      a {

        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 1rem;
    .s1 {
      font-size: 5vw;
      margin: 3rem;
    }
  }
}

// Mac home img

.home_luxury {
  background: url(/images/p1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 10rem;
  }
}

// iPad home img

.home_gallery {
  background: url(/images/p5.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

// Iphone home img

.home_reference {
  background: url(/images/p7.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

// Contact home img
.home_contact {
  background: url(/images/p8.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

//Contact form
input[type='text'],
select,
textarea {
  display: flex;
  color: $brown;
  font-weight: 900;
  opacity: 0.6;
  width: 33vw;
  padding: 1rem;
  border-radius: 0.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
