// Home page section home
.home {
  margin-top: 5rem;
  background: url(/apple_store/images/home_images/h1.1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  justify-content: flex-start;

  .content {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 3rem;

    p {
      margin-top: -4rem;
      font-size: 2.5rem;
      margin-bottom: 3.5rem;
    }

    ul li {
      list-style: none;
      display: inline;

      a {
        padding: 1.5rem;
        margin-bottom: 5rem;
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }
}

// Home section presentcard
.presentcard {
  background: url(/apple_store/images/home_images/h2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 57vh;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  .content {
    margin-top: 48rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul li {
      list-style: none;
      display: inline;

      a {
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }
}

// Mac homepage section home_mac

.home_mac {
  margin-top: 8rem;
  background: url(/Apple_store/images/mac_images/m1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  justify-content: flex-start;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 0;

    h1 {
      font-size: 5.5rem;
      font-weight: 500;
      margin-top: 0.5rem;
    }
    h3 {
      margin-top: 0.5rem;
      font-size: 3.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    .price {
      font-size: 2rem;
      font-weight: 200;
      margin-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

    ul li {
      list-style: none;
      display: inline;

      a {
        padding: 1rem;
        margin-bottom: 5rem;
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 10rem;
  }
}

// MacBook Pro section
.dark {
  min-height: 60vh;
  background-color: black;

  .macBook_pro {
    margin-top: 1rem;
    background: url(/Apple_store/images/mac_images/m2.png) no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    min-height: 55vh;
    align-items: center;
    justify-content: flex-start;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;

      h2 {
        font-size: 5.5rem;
        font-weight: 400;
        margin-top: 0.5rem;
      }

      h3 {
        font-size: 3.5rem;
        font-weight: 400;
        margin-bottom: 2rem;
      }

      .price {
        font-size: 2rem;
        font-weight: 200;
        margin-bottom: 0.5rem;
        margin-bottom: 1rem;
      }

      ul li {
        list-style: none;
        display: inline;
        padding: 0.5rem;
        margin-bottom: 2rem;

        a {
          font-size: 2rem;
          color: #06c;
          letter-spacing: inherit;
        }
      }
    }

    // @media (min-width: 297.98px) and (max-width: 767.98px) {
    //   padding: 3rem 1rem;
    //   .s1 {
    //     font-size: 5vw;
    //     margin: 3rem;
    //   }
    // }
  }
}

// Mac Presentcard section

// iPad home img

// Home section Ipad - white image
.about_ipad {
  margin-top: 5rem;
  background: url(/apple_store/images/home_images/h3.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 70vh;
  min-width: 30vw;
  align-items: center;
  justify-content: center;

  .content_right {
    margin-top: 10rem;
    padding-left: 365px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      color: #bf4800;
    }

    .buy_button {
      color: white;
      cursor: pointer;
      font-size: 2.2rem;
      font-weight: 300;
      background-color: #0071e3;
      padding: 1rem 2rem;
      margin-bottom: 1.5rem;
      border-radius: 2.3rem;
    }

    ul li {
      list-style: none;
      display: inline;

      a {
        padding: 1.5rem;
        margin-bottom: 5rem;
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }
}

//iPad pro img - purple image
.ipad {
  background: url(/Apple_store/images/ipad_images/i2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  align-items: center;
  justify-content: flex-start;

  .content_about_ipad {
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;

    .big_text_xl_light {
      font-size: 5.5rem;
      font-weight: 500;
      color: white;
    }

    .text_light_y {
      color: white;
      font-size: 2.7rem;
      font-weight: 400;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      padding: 0 5rem;
    }

    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      color: #bf4800;
    }

    .fa-apple {
      font-size: 5rem;
    }

    .buy_button {
      color: white;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 300;
      background-color: #0071e3;
      padding: 0.8rem 1.7rem;
      margin-bottom: 1rem;
      border-radius: 2.3rem;
    }

    ul li {
      list-style: none;
      display: inline;

      a {
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 1rem;

    .s1 {
      font-size: 5vw;
      margin: 3rem;
    }
  }
}

// Change iPad text
.change_ipad_text {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // min-height: 40vh;

  .content_text {
    // margin-top: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;

    ul li {
      list-style: none;
      display: inline;

      a {
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 1rem;

    .s1 {
      font-size: 5vw;
      margin: 3rem;
    }
  }
}

//Change ipad img - 2 ipad image - white picture
.change_ipad {
  background: url(/Apple_store/images/ipad_images/i444.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  max-width: 1440px;
  margin: auto;
  // justify-content: flex-start;

  .content_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 80%;

    ul li {
      list-style: none;
      display: inline;

      a {
        font-size: 2rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 767.98px) {
    padding: 3rem 1rem;

    .s1 {
      font-size: 5vw;
      margin: 3rem;
    }
  }
}

//Ipad text
.ipad_text {
  font-size: 5rem;
}

//Info ipad text
.info_ipad {
  font-weight: 700;
}

// Iphone home img

.home_reference {
  background: url(/images/p7.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

// Contact home img
.big-box {
  padding-top: 70px;
  background-color: #ffffff;
  .fancy-rainbow {
    margin: 0 auto;
    width: fit-content;
    font-size: 48px;
    font-weight: bolder;
    background: -webkit-linear-gradient(
      45deg,
      #2ca2b4,
      #5598de 24%,
      #7f87ff 45%,
      #f65aad 76%,
      #ec3d43
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .fancy-purple {
    margin: 0 auto;
    width: fit-content;
    font-size: 48px;
    font-weight: bolder;
    background: -webkit-linear-gradient(#fdb6ff, #9c1cf1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .a-list {
    padding: 20px;
    button {
      font-size: 17px;
      padding: 8px 16px;
      border-radius: 2.5rem;
      background-color: #0071e3;
      color: white;
    }
    a {
      margin-left: 20px;
      font-size: 21px;
      font-weight: 500;
      color: #0071e3;
    }
  }
}
.split-box {
  background-color: #fbfbfd;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  .fancy-blue {
    margin: 0 auto;
    width: fit-content;
    font-size: 48px;
    font-weight: bolder;
    background: -webkit-linear-gradient(
      90deg,
      #1e3791 0%,
      #2948b1 40%,
      #3153c6 55%,
      #214fe7 60%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .a-list {
    padding: 20px;
    button {
      font-size: 17px;
      padding: 8px 16px;
      border-radius: 2.5rem;
      background-color: #0071e3;
      color: white;
    }
    a {
      margin-left: 20px;
      font-size: 21px;
      font-weight: 500;
      color: #0071e3;
    }
  }
}
@media screen and (max-width: 1360px) {
  .watch-big-box {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 950px) {
  .big-watch-2 {
    width: 270px;
  }
}
@media screen and (max-width: 1060px) {
  .big-watch-3 {
    width: 310px;
  }
}

//Contact form
// input[type='text'],
// select,
// textarea {
//   display: flex;
//   color: $brown;
//   font-weight: 900;
//   opacity: 0.6;
//   width: 33vw;
//   padding: 1rem;
//   border-radius: 0.6rem;
//   margin-top: 1.5rem;
//   margin-bottom: 1.5rem;
// }

// Support home page

.home_support {
  background: url(/Apple_store/images/support_images/s1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  min-height: 40vh;
  align-items: center;
  justify-content: center;

  .content_support {
    h1 {
      color: white;
      font-size: 5.5rem;
      font-weight: 500;
      margin-top: 0.5rem;
    }
  }
}

// Support image section nav

.support_img_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 15vh;

  .img_nav_support {
    display: flex; 
    gap: 8rem;
    a {
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 8rem;
      img{
        align-self: center;
        margin: 3rem;
      }
    }

    span {
      font-size: 2.5rem;
      font-weight: 300;
    }
  }
}

// Suport page link nav

.support_link_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  .img_link_support {
    display: flex;
    justify-content: center;
    border-top: 1px solid #7b7b7b33;
    border-bottom: 1px solid #7b7b7b33;
    font-weight: 100;
    width: 100%;
    
    a {
      margin: 5rem 0;
      padding: 0 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 3rem;
      font-size: 8rem;
      color: #0070c9;
      img{
        align-self: center;
      }
    }
    .img_link_navx{
      border-left: 1px solid#7b7b7b33;
      border-right: 1px solid#7b7b7b33;
    }
    span {
      font-size: 2.5rem;
      font-weight: 300;
    }

    .link_nav {
      font-size: 1.8rem;
      font-weight: 300;
    }
  }
}
@media (max-width: 700px){
  .img_link_support{
    flex-direction: column;
    
    a{
      margin: 1rem 1rem;
      width: 75vw;
      align-self: center;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    .img_link_navx{

      border: 1px 0px 1px 0px solid#7b7b7b33; 
      
    }
  }
}

// Suport page Search section

.support_search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 10vh;

  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 5rem;
    border-bottom: 1px solid #7b7b7b;
    
    .form_search{
      display: flex;
      border: 1px solid #7b7b7b;
      min-width: 50%;
      margin: auto;
      padding: 1rem;
    }

    h3 {
      font-size: 4rem;
      font-weight: 300;
      padding-bottom: 1rem;
    }

    input {
      font-size: 3rem;
      font-weight: 100;
    }

    .fa-search {
      font-size: 3rem;
      color: #515050;
      background: none;
    }
  }
}

//Support img - Girl with tablet
.get_support {
  background: url(/Apple_store/images/support_images/s5.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 35vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .content_get_support {
    margin-top: -5rem;
    text-align: left;
    margin-left: 10rem;

    p {
      text-align: left;
      padding: 0;
    }

    .big_text_xl_light {
      font-size: 5rem;
      font-weight: 350;
      color: white;
    }

    .text_light_y {
      color: white;
      font-size: 2rem;
      font-weight: 200;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }

    ul li {
      list-style: none;
      display: inline;

      a {
        font-size: 1.5rem;
        font-weight: 400;
        color: rgb(127, 179, 231);
        letter-spacing: inherit;
      }
    }
  }
}
