// Sections
section {
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 400;
}
// Borders
.border {
  padding-top: 5rem;
  border-bottom: 1px solid #d2d2d7;
  width: 80%;
}

// Links hover

ul li{
  a .fa-chevron-right{
    font-size: 1.4rem;
  }
  a:hover {
    text-decoration: underline;

  }
}

