// Sections
section {
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 400;

  .box-gallery {
    ul li {
      position: relative;
      top: 12rem;
      left: 0%;
      bottom: 0%;
      list-style: none;
      display: inline;

      a {
        padding: 1rem;
        font-size: 1.3rem;
        color: #06c;
        letter-spacing: inherit;
      }
    }
  }
}
// Borders
.border {
  padding-top: 5rem;
  border-bottom: 1px solid #d2d2d7;
  width: 80%;
}

// Buying button Köp


//paragraphs
p {
  color: $brown;
}

.p-booking {
  padding-top: 5rem;
  color: $light;
  font-size: 2vw;
  font-weight: 600;
}
