// About Info and Image
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;

  .img-container {
    flex: 1 1 42rem;

    .image {
      border-radius: 1rem;
      width: 100%;
    }
  }

  .content {
    flex: 1 1 42rem;
    margin-bottom: 5rem;

    // .price {
    //   margin-left: 0;
    //   font-weight: 600;
    // }
  }
}

// Gallery image mac info

.gallery-mac .box-container-mac {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;

  column-gap: 1.5rem;

  .box-gallery-mac {
    margin-bottom: 0.8rem;
    break-inside: avoid;

    img {
      width: 45vw;
      height: 50vh;
      margin-bottom: 0.8rem;
    }
  }
}

// Mac page big center image

.gallery-center-image .box-container-center-image {
  margin-top: 2rem;
  columns: 1 80rem;
  column-gap: 1.5rem;

  .box-gallery-center-image {
    margin-bottom: 0.8rem;
    break-inside: avoid;

    img {
      width: 100vw;
      height: 70vh;
      margin-bottom: 0.8rem;
    }
  }
}

// Mac page long image bottom

.gallery-long-image .box-container-long-image {
  margin-top: 2rem;
  columns: 1 80rem;
  column-gap: 1.5rem;

  .box-gallery-long-image {
    margin-bottom: 0.8rem;
    break-inside: avoid;

    img {
      width: 90vw;
      height: 35vh;
      margin-bottom: 0.8rem;
    }
  }
}

// Information boxes mac page
.mac_info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem;

  .mac-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;

    .fa-box-open,
    .fa-comments {
      font-size: 5em;
      margin-bottom: 2rem;
    }

    h4 {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      padding: 0 4rem;
    }

    p {
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 1rem;
      padding: 0 5rem;
    }

    .link-info {
      list-style: none;
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 1rem;
      padding: 0 5rem;
    }
  }
}
// Big text stylings 
.big_text {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 8rem 0 5rem;
}

.big_text_xl {
  font-size: 6rem;
  font-weight: 500;
  margin: 8rem 0 5rem;
}
// Big text 0.5rem margin
.big_text_xl_0{
  font-size: 6rem;
  font-weight: 500;
  margin: .5rem;
}

.big_text_x_light {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 4.5rem 0 -1rem;
  color: white;
}
.big_text_x_dark {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 4.5rem 0 -1rem;
}

.red{
  margin-top: 2rem;
  font-size: 1.6rem;
  
  color: red;
}

.orange{
  margin-top: 2rem;
  font-size: 1.8rem;
  color: rgb(255, 115, 0);
}

.big_text_x {
  font-size: 6rem;
  font-weight: 500;
  margin: 8rem 0 0;
}

.big_text_xl_light {
  font-size: 5.5rem;
  font-weight: 800;
  color: white;
}

// paragraf text styles

.text_light {
  color: white;
  font-size: 2.3rem;
  font-weight: 350;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.text_light_y{
  color: white;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.text_dark{
  color: black;
  font-size: 2.3rem;
  font-weight: 350;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.text_dark_y{
  color: black;
  font-size: 3rem;
  font-weight: 350;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}
