// About Info and Image
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  // margin-top: 5rem;

  .img-container {
    flex: 1 1 42rem;

    .image {
      border-radius: 1rem;
      width: 100%;
    }
  }

  .content {
    flex: 1 1 42rem;
    margin-bottom: 5rem;

    // .price {
    //   margin-left: 0;
    //   font-weight: 600;
    // }
  }
}

// Gallery image mac info

.gallery-mac .box-container-mac {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;

  column-gap: 1.5rem;

  .box-gallery-mac {
    margin-bottom: 0.8rem;
    break-inside: avoid;

    img {
      width: 45vw;
      height: 50vh;
      margin-bottom: 0.8rem;
    }
  }
}

// Mac page big center image

.gallery-center-image .box-container-center-image {
  margin-top: 2rem;
  columns: 1 80rem;
  column-gap: 1.5rem;

  .box-gallery-center-image {
    margin-bottom: 0.8rem;
    break-inside: avoid;

    img {
      width: 100vw;
      height: 70vh;
      margin-bottom: 0.8rem;
    }
  }
}

// Mac page long image bottom

.gallery-long-image .box-container-long-image {
  margin-top: 2rem;
  columns: 1 80rem;
  column-gap: 1.5rem;

  .box-gallery-long-image {
    margin-bottom: 0.8rem;
    break-inside: avoid;

    img {
      width: 100vw;
      height: 35vh;
      margin-bottom: 0.8rem;
    }
  }
}

// Information boxes mac page
.mac_info-box {
  max-width: 1440px;
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  

  .mac-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;

    .fa-box-open,
    .fa-record-vinyl,
    .fa-comments {
      font-size: 5em;
      margin-bottom: 2rem;
    }

    h4 {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      padding: 0 4rem;
    }

    p {
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 1rem;
      padding: 0 5rem;
    }

    .link-info {
      list-style: none;
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 1rem;
      padding: 0 5rem;
      a{
        padding: 1rem;
        color: #06c;
        letter-spacing: inherit;
      }
      .fa-chevron-right{
        font-size: 1.5rem;
      }
    }
    
  }
}
.grey_info_background{
  background-color: #f5f5f7;
}

// Information boxes iPad page
.ipad_info-box {
  display: flex;
  justify-content: center;
  column-gap:30px;
  background:#f5f5f7;
  

  .ipad-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 250px;
    padding:10rem 0;

    .fa-box-open,
    .fa-record-vinyl,
    .fa-comments {
      font-size: 5em;
      margin-bottom: 2rem;
    }

    h4 {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      // padding: 0 1rem;
    }

    p {
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 1rem;
      // padding: 0 5rem;
    }

    .link-info {
      list-style: none;
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 1rem;
      padding: 0 5rem;

    }
  }
}
@media screen and (max-width: 710px){
  .ipad_info-box{
    flex-direction: column;
    align-content: center;
    gap: 0;
    .ipad-info{
      padding: 3rem;
      align-self: center;
    }
  }
}

// Information boxes watch page
.watch_info-box {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  background: #ffffff;


  .watch-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 250px;
    padding: 10rem 0;

    .fa-chevron-right {
        font-size: 1.5rem;
      }

    .fa-box-open,
    .fa-record-vinyl,
    .fa-comments {
      font-size: 5em;
      margin-bottom: 2rem;
    }

    h4 {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      // padding: 0 1rem;
    }

    p {
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 1rem;
      // padding: 0 5rem;
    }

    .link-info {
      list-style: none;
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 1rem;
      padding: 0 5rem;

    }
  }
}

// Big text stylings
.big_text {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 8rem 0 5rem;
}

.big_text_xl {
  font-size: 6rem;
  font-weight: 500;
  padding: 8rem 0 5rem;
}
.big_text_xl_ipad {
  font-size: 5.5rem;
  font-weight: 500;
  padding: 8rem 0 5rem;
}
// Big text 0.5rem margin
.big_text_xl_0 {
  font-size: 6rem;
  font-weight: 500;
  margin: 0.5rem;
}

.big_text_x_light {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 4.5rem 0 -1rem;
  color: white;
}
.big_text_x_dark {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 4.5rem 0 -1rem;
}

.red {
  margin-top: 2rem;
  font-size: 1.6rem;

  color: red;
}

.orange {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: rgb(255, 115, 0);
}

.big_text_x {
  font-size: 5rem;
  font-weight: 400;
  padding: 8rem 0 0;
}

.big_text_x_ipad {
  font-size: 7rem;
  font-weight: 500;
  margin: 1rem 0 0;
}

.big_text_xl_light {
  font-size: 5.5rem;
  font-weight: 800;
  color: white;
}

//price buy
.price_buy {
  font-size: 2.3rem;
  font-weight: 300;
  padding: 1.5rem;
}

.price_buy_white{
  color: white;
  font-size: 2rem;
  font-weight: 300;
  padding: 1.5rem;
}

// paragraf text styles

.text_light {
  color: white;
  font-size: 2.3rem;
  font-weight: 350;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.text_light_y {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.text_dark {
  color: black;
  font-size: 2.3rem;
  font-weight: 350;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.text_dark_ipad {
  color: black;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding: 0 5rem;
}


.text_dark_y {
  color: black;
  font-size: 3rem;
  font-weight: 350;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

//Support page
.text_section_support1{
  width: 50%;
  margin:auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: row;
  h2 {
      font-size: 2.5rem;
      font-weight: 400;
    }
  p{
    font-size: 2rem;
    font-weight: 200;
  }
  a {
    font-size: 2rem;
    font-weight: 200;
    white-space: nowrap;
  }
  
}

.text_section_support2 {
  width: 50%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;

  h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  p {
    font-size: 2rem;
    font-weight: 200;
  }

  a {
    font-size: 2rem;
    font-weight: 200;
  }
}

.link_section_support {
  display: flex;
  justify-content: center;
  text-align: left;
  padding-top: 3rem;
  
  .support-section-container{
    width: 50%;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  a {
    font-size: 2rem;
    font-weight: 200;
  }

  .fa-chevron-right {
    font-size: 1rem;
  }
}

// Full line border
.full_line_border{
  border:1px solid rgb(238, 237, 237);
}
@media screen and (max-width: 1600px){
  .text_section_support1, .text_section_support2{
    width: 65vw;
  }
  .link_section_support{
    .support-section-container{
      width: 65vw;
    }
  }
}
@media screen and (max-width: 600px){
  .text_section_support1, .text_section_support2{
    width: 85vw;
  }
  .link_section_support{
    .support-section-container{
      width: 85vw;
    }
  }
}