.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 9%;
}
.header .navbar li {
  font-size: 1.7rem;
  font-weight: 400;
  color: rgb(212, 175, 55);
  display: inline-block;
  margin: 0 1rem;
}
.header .navbar li a {
  color: #f5f5f7;
  padding: 0 2.5rem;
  text-decoration: none;
}
.header .navbar li a:hover {
  color: white;
}
.header .navbar {
  display: flex;
  padding-left: 20px;
}
.header .nav-items {
  padding: 0 1.5rem;
}
.header .logo {
  padding: 0.2rem;
  font-size: 3rem;
  font-weight: 700;
  color: #f5f5f7;
  text-decoration: none;
}
.header .logo:hover {
  color: white;
}

#menu-btn {
  font-size: 2.5rem;
  color: #f5f5f7;
  display: none;
  cursor: pointer;
}

.nav-item-booking {
  list-style: none;
}
.nav-item-booking a {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid #f5f5f7;
  cursor: pointer;
  color: #f5f5f7;
}
.nav-item-booking a:hover {
  color: white;
  border: 2px solid white;
}

footer {
  padding: 0;
  margin-top: 3rem;
  background: #f5f5f7;
  font-size: 1.3rem;
}
footer .footer-content {
  max-width: 980px;
  width: 95vw;
  margin: 0 auto;
}
footer ul {
  list-style: none;
}
footer .box-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
}
footer .box-container .box h3 {
  color: rgb(3, 3, 5);
  padding: 1rem 0;
  font-size: 1.3rem;
}
footer .box-container .box ul li {
  margin-bottom: 1rem;
}
footer .box-container .box ul a {
  color: rgb(3, 3, 5);
}
footer .box-container .box ul a:hover {
  border-bottom: 1px solid rgb(3, 3, 5);
}
footer .footer-shop {
  width: 100%;
}
footer .footer-shop a {
  color: #0066CC;
}
footer .footer-shop a:hover {
  border-bottom: 1px solid #0066CC;
}
footer .divider {
  padding-top: 1rem;
  border-bottom: 1px solid rgb(182, 182, 182);
}
footer .legal {
  padding-bottom: 2rem;
}
footer .legal .copyrights {
  opacity: 0.9;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem 0;
}
footer .legal .copyrights p {
  color: rgb(71, 71, 71);
}
footer .legal ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: 500;
}
footer .legal ul li {
  padding-right: 1rem;
  border-right: 1px solid rgb(182, 182, 182);
}
footer .legal ul a {
  color: rgb(3, 3, 5);
}
footer .legal ul a:hover {
  border-bottom: 1px solid #0066CC;
}
footer .legal ul li:last-child {
  border-right: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
#products {
  min-height: 150vh;
}

#products_ipad {
  min-height: 60vh;
}

.products .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}
.products .box-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;
}
.products .box-container .content .box {
  padding-top: 3rem;
}
.products .box-container .content h3 {
  font-size: 3rem;
  font-weight: 500;
}
.products .box-container .content span {
  font-size: 1.4rem;
}
.products .box-container .content .chip {
  padding-bottom: 3rem;
}
.products .box-container .content .price {
  margin: 1rem 0 1rem;
  font-size: 1.8rem;
}
.products .box-container .content .buy {
  width: 4vw;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  padding: 5px 2px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
}
.products .box-container .content .link {
  padding: 2rem 0 4rem;
  font-size: 1.5rem;
  list-style: none;
  color: #0071e3;
  border-bottom: 1px solid #d2d2d7;
  width: 80%;
}
.products .box-container .content .link .fa-chevron-right {
  font-size: 1rem;
}
.products .box-container .content .icon {
  padding-top: 5rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.products .box-container .box {
  min-height: 20vh;
  width: 220px;
  height: 140px;
}
.products .box-container .box img {
  width: 230px;
  height: 220px;
}

.compare_ipad {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
}
.compare_ipad a:hover {
  border-bottom: 1px solid blue;
}
.compare_ipad .first_text {
  margin-right: 5rem;
}

.home {
  margin-top: 5rem;
  background: url(/apple_store/images/home_images/h1.1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  justify-content: flex-start;
}
.home .content {
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 3rem;
}
.home .content p {
  margin-top: -4rem;
  font-size: 2.5rem;
  margin-bottom: 3.5rem;
}
.home .content ul li {
  list-style: none;
  display: inline;
}
.home .content ul li a {
  padding: 1.5rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}

.presentcard {
  background: url(/apple_store/images/home_images/h2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 57vh;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.presentcard .content {
  margin-top: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentcard .content ul li {
  list-style: none;
  display: inline;
}
.presentcard .content ul li a {
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}

.home_mac {
  margin-top: 8rem;
  background: url(/Apple_store/images/mac_images/m1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  justify-content: flex-start;
}
.home_mac .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 0;
}
.home_mac .content h1 {
  font-size: 5.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
.home_mac .content h3 {
  margin-top: 0.5rem;
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.home_mac .content .price {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.home_mac .content ul li {
  list-style: none;
  display: inline;
}
.home_mac .content ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
@media (min-width: 297.98px) and (max-width: 767.98px) {
  .home_mac {
    padding: 3rem 10rem;
  }
}

.macBook_pro {
  margin-top: 5rem;
  background: url(/Apple_store/images/mac_images/m2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  justify-content: flex-start;
}
.macBook_pro .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.macBook_pro .content h2 {
  font-size: 5.5rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
.macBook_pro .content h3 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.macBook_pro .content .price {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.macBook_pro .content ul li {
  list-style: none;
  display: inline;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.macBook_pro .content ul li a {
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
@media (min-width: 297.98px) and (max-width: 767.98px) {
  .macBook_pro {
    padding: 3rem 1rem;
  }
  .macBook_pro .s1 {
    font-size: 5vw;
    margin: 3rem;
  }
}

.about_ipad {
  background: url(/apple_store/images/home_images/h3.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 70vh;
  min-width: 30vw;
  align-items: center;
  justify-content: center;
}
.about_ipad .content_right {
  margin-top: 10rem;
  padding-left: 365px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about_ipad .content_right h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #BF4800;
}
.about_ipad .content_right .buy_button {
  color: white;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 300;
  background-color: #0071E3;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  border-radius: 2.3rem;
}
.about_ipad .content_right ul li {
  list-style: none;
  display: inline;
}
.about_ipad .content_right ul li a {
  padding: 1.5rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}

.ipad {
  background: url(/Apple_store/images/ipad_images/i2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  align-items: center;
  justify-content: flex-start;
}
.ipad .content_about_ipad {
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
}
.ipad .content_about_ipad .big_text_xl_light {
  font-size: 5.5rem;
  font-weight: 500;
  color: white;
}
.ipad .content_about_ipad .text_light_y {
  color: white;
  font-size: 2.7rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}
.ipad .content_about_ipad h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #BF4800;
}
.ipad .content_about_ipad .fa-apple {
  font-size: 5rem;
}
.ipad .content_about_ipad .buy_button {
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 300;
  background-color: #0071E3;
  padding: 0.8rem 1.7rem;
  margin-bottom: 1rem;
  border-radius: 2.3rem;
}
.ipad .content_about_ipad ul li {
  list-style: none;
  display: inline;
}
.ipad .content_about_ipad ul li a {
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
@media (min-width: 297.98px) and (max-width: 767.98px) {
  .ipad {
    padding: 3rem 1rem;
  }
  .ipad .s1 {
    font-size: 5vw;
    margin: 3rem;
  }
}

.change_ipad_text {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.change_ipad_text .content_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
}
.change_ipad_text .content_text ul li {
  list-style: none;
  display: inline;
}
.change_ipad_text .content_text ul li a {
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
@media (min-width: 297.98px) and (max-width: 767.98px) {
  .change_ipad_text {
    padding: 3rem 1rem;
  }
  .change_ipad_text .s1 {
    font-size: 5vw;
    margin: 3rem;
  }
}

.change_ipad {
  background: url(/Apple_store/images/ipad_images/i444.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  max-width: 1440px;
  margin: auto;
}
.change_ipad .content_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 80%;
}
.change_ipad .content_text ul li {
  list-style: none;
  display: inline;
}
.change_ipad .content_text ul li a {
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
@media (min-width: 297.98px) and (max-width: 767.98px) {
  .change_ipad {
    padding: 3rem 1rem;
  }
  .change_ipad .s1 {
    font-size: 5vw;
    margin: 3rem;
  }
}

.ipad_text {
  font-size: 5rem;
}

.info_ipad {
  font-weight: 700;
}

.home_reference {
  background: url(/images/p7.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.big-box {
  padding-top: 50px;
  background-color: #ffffff;
}
.big-box .fancy-rainbow {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 48px;
  font-weight: bolder;
  background: -webkit-linear-gradient(45deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.big-box .fancy-purple {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 48px;
  font-weight: bolder;
  background: -webkit-linear-gradient(#fdb6ff, #9c1cf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.big-box .a-list {
  padding: 20px;
}
.big-box .a-list button {
  font-size: 17px;
  padding: 8px 16px;
  border-radius: 2.5rem;
  background-color: #0071E3;
  color: white;
}
.big-box .a-list a {
  margin-left: 20px;
  font-size: 21px;
  font-weight: 500;
  color: #0071E3;
}

.split-box {
  background-color: #FBFBFD;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.split-box .fancy-blue {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 48px;
  font-weight: bolder;
  background: -webkit-linear-gradient(90deg, #1e3791 0%, #2948b1 40%, #3153c6 55%, #214fe7 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.split-box .a-list {
  padding: 20px;
}
.split-box .a-list button {
  font-size: 17px;
  padding: 8px 16px;
  border-radius: 2.5rem;
  background-color: #0071E3;
  color: white;
}
.split-box .a-list a {
  margin-left: 20px;
  font-size: 21px;
  font-weight: 500;
  color: #0071E3;
}

input[type=text],
select,
textarea {
  display: flex;
  color: rgb(55, 20, 1);
  font-weight: 900;
  opacity: 0.6;
  width: 33vw;
  padding: 1rem;
  border-radius: 0.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .img-container {
  flex: 1 1 42rem;
}
.about .img-container .image {
  border-radius: 1rem;
  width: 100%;
}
.about .content {
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.gallery-mac .box-container-mac {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.gallery-mac .box-container-mac .box-gallery-mac {
  margin-bottom: 0.8rem;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.gallery-mac .box-container-mac .box-gallery-mac img {
  width: 45vw;
  height: 50vh;
  margin-bottom: 0.8rem;
}

.gallery-center-image .box-container-center-image {
  margin-top: 2rem;
  -moz-columns: 1 80rem;
       columns: 1 80rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.gallery-center-image .box-container-center-image .box-gallery-center-image {
  margin-bottom: 0.8rem;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.gallery-center-image .box-container-center-image .box-gallery-center-image img {
  width: 100vw;
  height: 70vh;
  margin-bottom: 0.8rem;
}

.gallery-long-image .box-container-long-image {
  margin-top: 2rem;
  -moz-columns: 1 80rem;
       columns: 1 80rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.gallery-long-image .box-container-long-image .box-gallery-long-image {
  margin-bottom: 0.8rem;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.gallery-long-image .box-container-long-image .box-gallery-long-image img {
  width: 90vw;
  height: 35vh;
  margin-bottom: 0.8rem;
}

.mac_info-box {
  max-width: 1440px;
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mac_info-box .mac-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
}
.mac_info-box .mac-info .fa-box-open,
.mac_info-box .mac-info .fa-record-vinyl,
.mac_info-box .mac-info .fa-comments {
  font-size: 5em;
  margin-bottom: 2rem;
}
.mac_info-box .mac-info h4 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  padding: 0 4rem;
}
.mac_info-box .mac-info p {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 0 5rem;
}
.mac_info-box .mac-info .link-info {
  list-style: none;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 0 5rem;
}
.mac_info-box .mac-info .link-info a {
  padding: 1rem;
  color: #06c;
  letter-spacing: inherit;
}
.mac_info-box .mac-info .link-info .fa-chevron-right {
  font-size: 1.5rem;
}

.grey_info_background {
  background-color: #f5f5f7;
}

.ipad_info-box {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  background: #f5f5f7;
}
.ipad_info-box .ipad-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 250px;
  padding: 10rem 0;
}
.ipad_info-box .ipad-info .fa-box-open,
.ipad_info-box .ipad-info .fa-record-vinyl,
.ipad_info-box .ipad-info .fa-comments {
  font-size: 5em;
  margin-bottom: 2rem;
}
.ipad_info-box .ipad-info h4 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.ipad_info-box .ipad-info p {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.ipad_info-box .ipad-info .link-info {
  list-style: none;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 0 5rem;
}

.watch_info-box {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  background: #ffffff;
}
.watch_info-box .watch-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 250px;
  padding: 10rem 0;
}
.watch_info-box .watch-info .fa-box-open,
.watch_info-box .watch-info .fa-record-vinyl,
.watch_info-box .watch-info .fa-comments {
  font-size: 5em;
  margin-bottom: 2rem;
}
.watch_info-box .watch-info h4 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.watch_info-box .watch-info p {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.watch_info-box .watch-info .link-info {
  list-style: none;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 0 5rem;
}

.big_text {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 8rem 0 5rem;
}

.big_text_xl {
  font-size: 6rem;
  font-weight: 500;
  padding: 8rem 0 5rem;
}

.big_text_xl_ipad {
  font-size: 5.5rem;
  font-weight: 500;
  padding: 8rem 0 5rem;
}

.big_text_xl_0 {
  font-size: 6rem;
  font-weight: 500;
  margin: 0.5rem;
}

.big_text_x_light {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 4.5rem 0 -1rem;
  color: white;
}

.big_text_x_dark {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 4.5rem 0 -1rem;
}

.red {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: red;
}

.orange {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: rgb(255, 115, 0);
}

.big_text_x {
  font-size: 5rem;
  font-weight: 400;
  padding: 8rem 0 0;
}

.big_text_x_ipad {
  font-size: 7rem;
  font-weight: 500;
  margin: 1rem 0 0;
}

.big_text_xl_light {
  font-size: 5.5rem;
  font-weight: 800;
  color: white;
}

.price_buy {
  font-size: 2.3rem;
  font-weight: 300;
  padding: 1.5rem;
}

.price_buy_white {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  padding: 1.5rem;
}

.text_light {
  color: white;
  font-size: 2.3rem;
  font-weight: 350;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.text_light_y {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.text_dark {
  color: black;
  font-size: 2.3rem;
  font-weight: 350;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.text_dark_ipad {
  color: black;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.text_dark_y {
  color: black;
  font-size: 3rem;
  font-weight: 350;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
}

section {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.border {
  padding-top: 5rem;
  border-bottom: 1px solid #d2d2d7;
  width: 80%;
}

ul li a .fa-chevron-right {
  font-size: 1.4rem;
}
ul li a:hover {
  text-decoration: underline;
}

.table {
  max-width: 1440px;
  margin: 3rem auto;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #ffffff;
}
.table ul {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 80px auto 100px;
  font-size: 20px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.table ul li a {
  color: #0071E3;
}
.table ul li a i {
  padding-left: 10px;
  font-size: 15px;
}

.mac-wrapper {
  background-color: #fafafa;
}

.table-headline {
  font-size: 36px;
  font-weight: 600;
}

.phone-table, .mac-table, .ipad-table, .watch-table {
  margin-top: 40px;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.phone-table .col, .mac-table .col, .ipad-table .col, .watch-table .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.phone-table .col .thead, .mac-table .col .thead, .ipad-table .col .thead, .watch-table .col .thead {
  width: 180px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid rgba(131, 131, 131, 0.308);
}
.phone-table .col .thead .hide, .mac-table .col .thead .hide, .ipad-table .col .thead .hide, .watch-table .col .thead .hide {
  color: transparent;
}
.phone-table .col .thead h4, .mac-table .col .thead h4, .ipad-table .col .thead h4, .watch-table .col .thead h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #BF4800;
}
.phone-table .col .thead h2, .mac-table .col .thead h2, .ipad-table .col .thead h2, .watch-table .col .thead h2 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
.phone-table .col .thead p, .phone-table .col .thead h3, .mac-table .col .thead p, .mac-table .col .thead h3, .ipad-table .col .thead p, .ipad-table .col .thead h3, .watch-table .col .thead p, .watch-table .col .thead h3 {
  white-space: nowrap;
  font-size: 15px;
  font-weight: 600;
  color: rgba(29, 29, 31, 0.6509803922);
}
.phone-table .col .thead .price, .mac-table .col .thead .price, .ipad-table .col .thead .price, .watch-table .col .thead .price {
  padding-top: 30px;
  font-size: 13.5px;
}
.phone-table .col .thead button, .mac-table .col .thead button, .ipad-table .col .thead button, .watch-table .col .thead button {
  color: white;
  cursor: pointer;
  font-size: 12px;
  background-color: #0071E3;
  padding: 3px 12px;
  margin-top: 16px;
  border-radius: 2.3rem;
}
.phone-table .col .thead .mac-table-headline, .mac-table .col .thead .mac-table-headline, .ipad-table .col .thead .mac-table-headline, .watch-table .col .thead .mac-table-headline {
  height: 79px;
}
.phone-table .col .thead a, .mac-table .col .thead a, .ipad-table .col .thead a, .watch-table .col .thead a {
  font-size: 13.5px;
  color: #0071E3;
  margin-bottom: 25px;
}
.phone-table .col .thead a:hover, .mac-table .col .thead a:hover, .ipad-table .col .thead a:hover, .watch-table .col .thead a:hover {
  text-decoration: underline;
}
.phone-table .col .thead a i, .mac-table .col .thead a i, .ipad-table .col .thead a i, .watch-table .col .thead a i {
  font-size: 10px;
}
.phone-table .col .tbody, .mac-table .col .tbody, .ipad-table .col .tbody, .watch-table .col .tbody {
  color: rgba(29, 29, 31, 0.7411764706);
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(131, 131, 131, 0.308);
}
.phone-table .col .tbody .hide, .mac-table .col .tbody .hide, .ipad-table .col .tbody .hide, .watch-table .col .tbody .hide {
  color: transparent;
}
.phone-table .col .tbody h3, .mac-table .col .tbody h3, .ipad-table .col .tbody h3, .watch-table .col .tbody h3 {
  font-size: 16px;
  margin-bottom: 7px;
}
.phone-table .col .tbody p, .mac-table .col .tbody p, .ipad-table .col .tbody p, .watch-table .col .tbody p {
  font-size: 13px;
  margin-bottom: 3px;
}
.phone-table .col .tbody img, .mac-table .col .tbody img, .ipad-table .col .tbody img, .watch-table .col .tbody img {
  padding-bottom: 10px;
}
.phone-table .col .tbody .island-specs, .mac-table .col .tbody .island-specs, .ipad-table .col .tbody .island-specs, .watch-table .col .tbody .island-specs {
  height: 96px;
}
.phone-table .col .tbody .chip-specs, .mac-table .col .tbody .chip-specs, .ipad-table .col .tbody .chip-specs, .watch-table .col .tbody .chip-specs {
  height: 77px;
}
.phone-table .col .tbody .camera-specs, .mac-table .col .tbody .camera-specs, .ipad-table .col .tbody .camera-specs, .watch-table .col .tbody .camera-specs {
  height: 148px;
}
.phone-table .col .tbody .macChip-specs, .mac-table .col .tbody .macChip-specs, .ipad-table .col .tbody .macChip-specs, .watch-table .col .tbody .macChip-specs {
  height: 76px;
}
.phone-table .col .tbody .mac-speaker-specs, .mac-table .col .tbody .mac-speaker-specs, .ipad-table .col .tbody .mac-speaker-specs, .watch-table .col .tbody .mac-speaker-specs {
  height: 90px;
}
.phone-table .col .tbody .ekg-specs, .mac-table .col .tbody .ekg-specs, .ipad-table .col .tbody .ekg-specs, .watch-table .col .tbody .ekg-specs {
  height: 73px;
}
.phone-table .col .tbody .oxygen-specs, .mac-table .col .tbody .oxygen-specs, .ipad-table .col .tbody .oxygen-specs, .watch-table .col .tbody .oxygen-specs {
  height: 73px;
}
.phone-table .col .tbody .temperature-specs, .mac-table .col .tbody .temperature-specs, .ipad-table .col .tbody .temperature-specs, .watch-table .col .tbody .temperature-specs {
  height: 135px;
}
.phone-table .col .tbody div div .spacer, .mac-table .col .tbody div div .spacer, .ipad-table .col .tbody div div .spacer, .watch-table .col .tbody div div .spacer {
  font-weight: 700;
}
.phone-table .col3 .thead h4, .phone-table .col4 .thead h4, .phone-table .col31 .thead h4, .phone-table .col34 .thead h4, .phone-table .col22 .thead h4, .phone-table .col24 .thead h4, .mac-table .col3 .thead h4, .mac-table .col4 .thead h4, .mac-table .col31 .thead h4, .mac-table .col34 .thead h4, .mac-table .col22 .thead h4, .mac-table .col24 .thead h4, .ipad-table .col3 .thead h4, .ipad-table .col4 .thead h4, .ipad-table .col31 .thead h4, .ipad-table .col34 .thead h4, .ipad-table .col22 .thead h4, .ipad-table .col24 .thead h4, .watch-table .col3 .thead h4, .watch-table .col4 .thead h4, .watch-table .col31 .thead h4, .watch-table .col34 .thead h4, .watch-table .col22 .thead h4, .watch-table .col24 .thead h4 {
  color: transparent;
}

.phone-table {
  background-color: white;
}

.ipad-table {
  background: #ffffff;
}
.ipad-table .col .thead h2 {
  padding-bottom: 0;
}
.ipad-table .col .thead h3 {
  padding-bottom: 10px;
}

.watch-table .col .thead {
  width: 250px;
}
.watch-table .col .thead .price {
  padding-top: 5px;
}
.watch-table .col .tbody .sos-specs {
  height: 213px;
}

@media screen and (max-width: 960px) {
  .phone-table, .mac-table, .ipad-table {
    flex-wrap: wrap;
    width: 600px;
  }
}
.gallery .box-container {
  -moz-columns: 2 37rem;
       columns: 2 37rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.gallery .box-container .box-gallery1 {
  background: url(/apple_store/images/home_images/h4.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.gallery .box-container .box-gallery1 ul li {
  list-style: none;
  display: inline;
}
.gallery .box-container .box-gallery1 ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
.gallery .box-container .box-gallery2 {
  background: url(/apple_store/images/home_images/h5.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.gallery .box-container .box-gallery2 ul li {
  list-style: none;
  display: inline;
}
.gallery .box-container .box-gallery2 ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
.gallery .box-container .box-gallery3 {
  background: url(/apple_store/images/home_images/h6.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.gallery .box-container .box-gallery3 ul li {
  list-style: none;
  display: inline;
}
.gallery .box-container .box-gallery3 ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
.gallery .box-container .box-gallery4 {
  background: url(/apple_store/images/home_images/h7.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.gallery .box-container .box-gallery4 ul li {
  list-style: none;
  display: inline;
}
.gallery .box-container .box-gallery4 ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
.gallery .box-container .box-gallery5 {
  background: url(/apple_store/images/home_images/h8.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.gallery .box-container .box-gallery5 ul li {
  list-style: none;
  display: inline;
}
.gallery .box-container .box-gallery5 ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
.gallery .box-container .box-gallery6 {
  background: url(/apple_store/images/home_images/h9.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.gallery .box-container .box-gallery6 ul li {
  list-style: none;
  display: inline;
}
.gallery .box-container .box-gallery6 ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}

.presentcard_mac {
  -moz-columns: 2 37rem;
       columns: 2 37rem;
  -moz-column-gap: 0;
       column-gap: 0;
  max-width: 1440px;
  margin: auto;
}
.presentcard_mac .content_left {
  background: url(/Apple_store/images/mac_images/m3.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  align-items: center;
  justify-content: center;
}
.presentcard_mac .content_left ul li {
  list-style: none;
  display: inline;
}
.presentcard_mac .content_left ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
.presentcard_mac .content_left .logo {
  font-size: 7rem;
  color: white;
}
.presentcard_mac .content_right {
  background: url(/apple_store/images/mac_images/m3.1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  align-items: center;
  justify-content: flex-start;
}
.presentcard_mac .content_right ul li {
  list-style: none;
  display: inline;
}
.presentcard_mac .content_right ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}

.mac_gallery {
  margin-top: 2rem;
}

.mac_box_container {
  -moz-columns: 2 37rem;
       columns: 2 37rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  max-width: 1440px;
  margin: auto;
}
.mac_box_container .mac_gallery1 {
  background: url(/apple_store/images/mac_images/m4.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.mac_box_container .mac_gallery1 .big_text_x {
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 500;
  padding: 1rem;
}
.mac_box_container .mac_gallery1 span {
  margin-top: 1rem;
  font-size: 3rem;
}
.mac_box_container .mac_gallery1 ul li {
  list-style: none;
  display: inline;
}
.mac_box_container .mac_gallery1 ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
.mac_box_container .mac_gallery2 {
  background: url(/Apple_store/images/mac_images/m5.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 48vh;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
.mac_box_container .mac_gallery2 .big_text_x {
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 500;
  padding: 1.5rem;
}
.mac_box_container .mac_gallery2 span {
  margin-top: 1rem;
  font-size: 3rem;
}
.mac_box_container .mac_gallery2 p {
  font-size: 1.8rem;
}
.mac_box_container .mac_gallery2 ul li {
  list-style: none;
  display: inline;
}
.mac_box_container .mac_gallery2 ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}

.mac_info_gallery .mac_info_container {
  -moz-columns: 2 37rem;
       columns: 2 37rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  max-width: 1440px;
  margin: auto;
}
.mac_info_gallery .mac_info_container .mac_info_gallery1 {
  background: url(/apple_store/images/mac_images/m6.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.mac_info_gallery .mac_info_container .mac_info_gallery1 .big_text_x {
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 500;
  padding: 1rem;
}
.mac_info_gallery .mac_info_container .mac_info_gallery1 span {
  margin-top: 2rem;
  font-size: 3rem;
}
.mac_info_gallery .mac_info_container .mac_info_gallery1 ul li {
  list-style: none;
  display: inline;
}
.mac_info_gallery .mac_info_container .mac_info_gallery1 ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
.mac_info_gallery .mac_info_container .mac_info_gallery2 {
  background: url(/Apple_store/images/mac_images/m7.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-right: 1rem;
}
.mac_info_gallery .mac_info_container .mac_info_gallery2 .big_text_x {
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 500;
  padding: 1.5rem;
}
.mac_info_gallery .mac_info_container .mac_info_gallery2 span {
  margin-top: 1rem;
  font-size: 3rem;
}
.mac_info_gallery .mac_info_container .mac_info_gallery2 p {
  font-size: 1.8rem;
}
.mac_info_gallery .mac_info_container .mac_info_gallery2 ul li {
  list-style: none;
  display: inline;
}
.mac_info_gallery .mac_info_container .mac_info_gallery2 ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}

.gallery-center-image .box-container-center-image {
  background: url(/apple_store/images/mac_images/m9.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  align-items: center;
  justify-content: flex-start;
  max-width: 1440px;
  margin: auto;
}

.content_mac {
  max-width: 1440px;
  margin: auto;
  background-color: #fbfbfd;
}
.content_mac h2 {
  margin-top: 4rem;
  font-size: 5rem;
  font-weight: 450;
}
.content_mac p {
  padding: 2rem 15rem;
  font-size: 2rem;
}

.gallery-center-image .box-container-center-image2 {
  background: url(/apple_store/images/mac_images/m10.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  align-items: center;
  justify-content: flex-start;
  max-width: 1440px;
  margin: auto;
}

.one_mac {
  -moz-columns: 2 27rem;
       columns: 2 27rem;
  -moz-column-gap: 0;
       column-gap: 0;
  max-width: 1440px;
  margin: auto;
}
.one_mac .content_one_left {
  background: url(/Apple_store/images/mac_images/m11.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
}
.one_mac .content_one_left ul li {
  list-style: none;
  display: inline;
}
.one_mac .content_one_left ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}
.one_mac .content_one_left .logo {
  font-size: 7rem;
  color: white;
}
.one_mac .content_one_right {
  background: url(/apple_store/images/mac_images/m11.1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  align-items: center;
  justify-content: flex-start;
}
.one_mac .content_one_right ul li {
  list-style: none;
  display: inline;
}
.one_mac .content_one_right ul li a {
  padding: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #06c;
  letter-spacing: inherit;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
* ul li {
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: rgb(255, 255, 254);
  overflow-x: hidden;
}

.body-ipad, .body-iphone {
  background: #f5f5f7;
}

@media (min-width: 1068.98px) {
  html {
    font-size: 55%;
  }
  .presentcard_mac,
.gallery-center-image .box-container-center-image,
.gallery-center-image .box-container-center-image2,
.one_mac {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 1.5rem;
    max-width: 1440px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .mac_box_container,
.mac_info_gallery .mac_info_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 1.5rem;
    max-width: 1440px;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .presentcard .content {
    margin-top: 40rem;
  }
}
@media (min-width: 297.98px) and (max-width: 1068.98px) {
  .presentcard_mac,
.gallery-center-image .box-container-center-image,
.gallery-center-image .box-container-center-image2,
.one_mac {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 1.5rem;
    max-width: 772px;
    padding: 1rem;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .mac_box_container,
.mac_info_gallery .mac_info_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 1.5rem;
    max-width: 760px;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  html {
    font-size: 45%;
  }
  #menu-btn {
    display: inline-block;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    height: 100vh;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background: rgba(0, 0, 0, 0.8);
    padding: 0 30px;
  }
  .header .navbar li {
    margin: 4rem;
    border-bottom: 0.1rem solid white;
    font-size: 2rem;
    display: block;
  }
  .header .navbar li:hover {
    background: rgba(0, 0, 0, 0.4);
    padding: 0 30px;
  }
  text mac page .content_mac {
    max-width: 772px;
    margin: auto;
    background-color: #fbfbfd;
  }
  text mac page .content_mac h2 {
    margin-top: 4rem;
    font-size: 5rem;
    font-weight: 450;
  }
  text mac page .content_mac p {
    padding: 2rem 15rem;
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */