// Import partials
@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/header';
@import '../partials/footer';
@import '../partials/carousel';
@import '../partials/cards';
@import '../partials/headings';
@import '../partials/text-image';
@import '../partials/small-stylings';
@import '../partials/table';
@import '../partials/boxgallery';

* {
  box-sizing: border-box;
  font-family: $global-font;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;

  ul li {
    list-style: none;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: $bg-color;
  overflow-x: hidden;
}

.body-ipad,
.body-iphone {
  background: #f5f5f7;
}

// .nav_items_xmark {
//   display: none;
// }

@media (min-width: 279.98px) and (max-width: 2559.98px) {
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }

  // mac page
  .home_mac {
    min-height: 70vh;

    .big_text_xl_0 {
      font-size: 3rem;
      font-weight: 500;
    }
    .content {
      padding: 0;
    }
  }

  .presentcard_mac {
    @include grid(37rem);
    max-width: 1440px;
    column-gap: 0;
  }

  // .presentcard_mac,
  // .gallery-center-image .box-container-center-image,
  // .gallery-center-image .box-container-center-image2,
  // .one_mac {
  //   @include grid(33rem);
  //   max-width: 1440px;
  //   //padding: 1rem;
  //   column-gap: 0;
  // }

  // .mac_box_container,
  // .mac_info_gallery .mac_info_container {
  //   @include grid(33rem);
  //   max-width: 1440px;
  //   column-gap: 2rem;
  // }

  // .presentcard {
  //   .content {
  //     margin-top: 40rem;
  //   }
  // }

  @media (min-width: 279.98px) and (max-width: 1439.98px) {
    html {
      font-size: 60%;
    }

    .nav_items_xmark {
      display: none;
    }
    // macPro
    .dark {
      min-height: 45vh;
      .macBook_pro {
        min-height: 48vh;
      }
    }

    .presentcard_mac {
      @include grid(37rem);
      max-width: 1340px;
      min-height: 555px;
      column-gap: 0;
    }
  }
}
@media (min-width: 297.98px) and (max-width: 1068.98px) {
  html {
    font-size: 60%;
  }
  #menu-btn {
    display: inline-block;
  }
  #nav_search {
    display: block;
  }
  .nav_items_xmark {
    display: block;

    display: flex;
    justify-content: flex-start;
    gap: 47%;
    // padding-left: 2rem;
    // padding-top: 2rem;
    padding: 1.5rem 2rem 1rem;
    width: 100%;

    i {
      font-size: 3.5rem;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;

    .navbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.9);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      height: 100vh;

      &.active {
        border-top: 1px solid #696868;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        background: rgba(0, 0, 0, 1);
      }
      li {
        margin: auto;
        border-bottom: 1px solid #696868;
        padding: 1.5rem 0;
        font-size: 2rem;
        display: block;
        max-width: 80%;
        a {
          font-size: 2.5rem;
          font-weight: 300;
          padding-left: 0;
        }
      }
    }
  }

  // Home page media

  .home {
    min-height: 50vh;
    .big_text_xl {
      font-size: 6rem;
      font-weight: 500;
      padding: 3rem 0 5rem;
    }
  }

  .presentcard {
    min-height: 40vh;
    .content {
      margin-top: 30rem;
    }
  }

  // Mac page

  .home_mac {
    min-height: 60vh;

    .big_text_xl_0 {
      font-size: 3rem;
      font-weight: 500;
    }
    .content {
      padding: 0;
    }
  }

  .dark {
    min-height: 40vh;
    background-color: black;
  }
  .macBook_pro {
    margin-top: 3rem;
    min-height: 45vh;
    background-size: auto;
    background-position: bottom;
    display: block;
  }
  // Presentcard mac page
  .presentcard_mac {
    @include grid(37rem);
    max-width: 736px;
    column-gap: 0;
    gap: 0;
  }
  // info boxes under presencard
  .gallery2 {
    min-height: 48vh;
    background-color: #696868;
  }

  .mac_box_container,
  .mac_info-box,
  .mac_info_gallery {
    columns: 2 37rem;
    column-gap: 1rem;
    max-width: 736px;
    margin: auto;
  }

  .content_gallery-center-image,
  .one_mac {
    max-width: 736px;
    margin: auto;
  }

  .gallery-center-image {
    max-width: 736px;
    margin: auto;
    .box-container-center-image {
      min-height: 48vh;
      background-size: cover;
    }
  }

  //Dark ipad
    .dark_ipad {
      min-height: 50vh;
      .ipad {
        background-position-y: 50%;
        background-position-x: 40%;

        .content_about_ipad {
          margin-left: 1rem;
        }
      }
    }

  @media (min-width: 297.98px) and (max-width: 768.98px) {
    html {
      font-size: 50%;
    }

    #menu-btn {
      display: inline-block;
    }
    #nav_search {
      display: block;
    }
    // About Ipad
    .about_ipad {
      height: 50vh;
      .content_right {
        margin: 0;
        padding-left: 300px;
        padding-right: 0;
      }
    }
    .big_text_x {
      padding: 0;
    }
    .text_dark_y {
      font-size: 2rem;
      padding: 0;
    }

    //Dark ipad
    .dark_ipad {
      min-height: 50vh;
      .ipad {
        background-position-y: 50%;
        background-position-x: 40%;

        .content_about_ipad {
          margin-left: 1rem;
        }
      }
    }

    // Boxar first page
    .gallery .box-container {
      columns: 2 37rem;

      .box-gallery1,
      .box-gallery2,
      .box-gallery3,
      .box-gallery4,
      .box-gallery5,
      .box-gallery6 {
        min-height: 40vh;
        margin-bottom: 1rem;
      }
    }

    // Mac page < 768px
    .home_mac {
      min-height: 50vh;
      margin-top: 6rem;
      background-size: cover;
      background-position: bottom;
      // display: block;

      .big_text_xl_0 {
        font-size: 3rem;
        font-weight: 500;
      }
      .content {
        padding: 0;
      }
    }

    .dark {
      min-height: 40vh;
      background-color: black;

      .macBook_pro {
        margin-top: 3rem;
        min-height: 40vh;
        background-size: contain;
        background-position: bottom;
        display: block;
      }
    }

    // Presentcard mac page
    .presentcard_mac {
      @include grid(37rem);
      min-height: 20vh;
      max-width: 736px;
      column-gap: 0;
      gap: 0;

      .content_left {
        min-height: 20vh;
      }
      .content_right {
        min-height: 40vh;
      }
    }

    // Under presentcard
    .mac_box_container {
      .mac_gallery1 {
        min-height: 40vh;
      }
      .gallery2 {
        min-height: 40vh;
        .mac_gallery2 {
          min-height: 40vh;
        }
      }
    }

    // info container
    .mac_info_container {
      .mac_info_gallery1 {
        min-height: 30vh;
      }
      .mac_info_gallery2 {
        min-height: 30vh;
      }
    }

    .content_mac {
      p {
        padding: 2rem;
      }
    }
    // Big images
    .gallery-center-image .box-container-center-image,
    .gallery-center-image .box-container-center-image2 {
      min-height: 30vh;
    }

    // One section
    .one_mac {
      .content_one_left,
      .content_one_right {
        min-height: 20vh;
      }
    }

    // Ipad home page

    // About Ipad
    .about_ipad_home {
      height: 50vh;
      .content_right {
        margin: 0;
        padding-left: 300px;
        padding-right: 0;
      }
    }
  }
  @media screen and (max-width: 610px) {
    .mac_info-box {
      flex-direction: column;
    }
  }
  @media (min-width: 297.98px) and (max-width: 557.98px) {
    html {
      font-size: 45%;
    }

    // Home page media

    .home {
      min-height: 40vh;
      .big_text_xl {
        font-size: 6rem;
        font-weight: 500;
        padding: 3rem 0 5rem;
      }
    }

    .presentcard {
      .content {
        font-size: 40%;
        margin-top: 30rem;
      }
      .big_text_xl_light {
        font-size: 4rem;
      }
      .text_light_y {
        font-size: 2.5rem;
      }
    }

    // Mac page
    // Mac page < 556px
    .home_mac {
      min-height: 50vh;
      background-size: inherit;
      background-position: center;
      // display: block;

      .big_text_xl_0 {
        font-size: 3rem;
        font-weight: 500;
      }
      .content {
        padding: 0;
      }
    }

    .dark {
      min-height: 35vh;
      background-color: black;

      .macBook_pro {
        margin-top: 3rem;
        min-height: 30vh;
        background-size: contain;
        background-position: bottom;
        display: block;
      }
    }

    // Presentcard mac page

    // About Ipad
    .about_ipad {
      margin-top: 3rem;
      min-height: 51vh;
      background-size: auto;
      background-position: bottom;
      display: block;

      .content_right {
        min-height: 23vh;
        background: rgba(255, 255, 255, 0.732);
        padding: 0 1rem;
      }
    }

    // IpadPro Section

    //Dark ipad
    .dark_ipad {
      min-height: 50vh;
      .ipad {
        min-height: 50vh;
        background-position-y: 150px;
        background-position-x: 50%;

        .content_about_ipad {
          position: absolute;
          left: 15%;

          margin: auto;
        }
      }
    }

    // Boxar first page
    .gallery .box-container {
      columns: 2 37rem;

      .box-gallery1,
      .box-gallery2,
      .box-gallery3,
      .box-gallery4,
      .box-gallery5,
      .box-gallery6 {
        min-height: 30vh;
        margin-bottom: 1rem;
      }
    }
  }

  @media (min-width: 297.98px) and (max-width: 375.98px) {
    html {
      font-size: 45%;
    }

    .home {
      min-height: 35vh;
      .big_text_xl {
        font-size: 6rem;
        font-weight: 500;
        padding: 3rem 0 5rem;
      }
    }

    .presentcard {
      min-height: 35vh;
      .content {
        margin-top: 30rem;
      }
      .big_text_xl_light {
        font-size: 3rem;
      }
      .text_light_y {
        font-size: 2rem;
      }
    }

    // About Ipad
    .about_ipad {
      margin-top: 3rem;
      height: 35vh;
      background-size: auto;
      background-position: bottom;
      display: block;

      .content_right {
        padding: 0 1rem;
      }
    }

    // Boxar first page
    .gallery .box-container {
      columns: 2 37rem;

      .box-gallery1,
      .box-gallery2,
      .box-gallery3,
      .box-gallery4,
      .box-gallery5,
      .box-gallery6 {
        min-height: 30vh;
        margin-bottom: 1rem;
      }
    }
  }
  
}
