// Import partials
@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/header';
@import '../partials/footer';
@import '../partials/carousel';
@import '../partials/cards';
@import '../partials/headings';
@import '../partials/text-image';
@import '../partials/small-stylings';
@import '../partials/table';
@import '../partials/boxgallery';

* {
  box-sizing: border-box;
  font-family: $global-font;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;

  ul li {
    list-style: none;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: $bg-color;
  overflow-x: hidden;
}
.body-ipad,
.body-iphone {
  background: #f5f5f7;
}

@media (min-width: 1068.98px) {
  html {
    font-size: 55%;
  }

  .nav_items_xmark {
    display: none;
  }

  .presentcard_mac,
  .gallery-center-image .box-container-center-image,
  .gallery-center-image .box-container-center-image2,
  .one_mac {
    @include grid(33rem);
    max-width: 1440px;
    //padding: 1rem;
    column-gap: 0;
  }

  .mac_box_container,
  .mac_info_gallery .mac_info_container {
    @include grid(33rem);
    max-width: 1440px;
    column-gap: 2rem;
  }

  .presentcard {
    .content {
      margin-top: 40rem;
    }
  }
}
@media (min-width: 297.98px) and (max-width: 1068.98px) {
  html {
    font-size: 60%;
  }
  #menu-btn {
    display: inline-block;
  }
  #nav_search {
    display: block;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;

    .navbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.9);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      height: 100vh;

      &.active {
        border-top: 1px solid #696868;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        background: rgba(0, 0, 0, 1);
      }
      li {
        margin: auto;
        border-bottom: 1px solid #696868;
        padding: 1.5rem 0;
        font-size: 2rem;
        display: block;
        max-width: 80%;
        a {
          font-size: 2.5rem;
          font-weight: 300;
          padding-left: 0;
        }
      }
    }
  }

  // Home page media

  .home {
    min-height: 50vh;
    .big_text_xl {
      font-size: 6rem;
      font-weight: 500;
      padding: 3rem 0 5rem;
    }
  }

  .presentcard {
    min-height: 40vh;
    .content {
      margin-top: 30rem;
    }
  }

  @media (min-width: 297.98px) and (max-width: 768.98px) {
    // About Ipad
    .about_ipad {
      height: 40vh;
      .content_right {
        margin: 0;
        padding-left: 300px;
        padding-right: 0;
      }
    }
    .big_text_x {
      padding: 0;
    }
    .text_dark_y {
      font-size: 2rem;
      padding: 0;
    }

    // Boxar first page
    .gallery .box-container {
      columns: 2 37rem;
      

      .box-gallery1,
      .box-gallery2,
      .box-gallery3,
      .box-gallery4,
      .box-gallery5,
      .box-gallery6 {
        min-height: 40vh;
        margin-bottom: 1rem;
      }
    }
  }
}
