// Import partials
@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/header';
@import '../partials/footer';
@import '../partials/carousel';
@import '../partials/cards';
@import '../partials/headings';
@import '../partials/text-image';
@import '../partials/small-stylings';
@import '../partials/table';
@import '../partials/boxgallery';

* {
  box-sizing: border-box;
  font-family: $global-font;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;

  ul li {
    list-style: none;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: $bg-color;
  overflow-x: hidden;
}

@media (min-width: 1068.98px) {
  // .destination .box-container {
  //   // @include grid(27rem);
  // }
  html {
    font-size: 55%;
  }

  .presentcard_mac,
  .gallery-center-image .box-container-center-image,
  .gallery-center-image .box-container-center-image2,
  .one_mac {
    @include grid(33rem);
    max-width: 1440px;
    padding: 1rem;
    column-gap: 0;
  }

  .mac_box_container,
  .mac_info_gallery .mac_info_container {
    @include grid(33rem);
    max-width: 1440px;
    column-gap: 1rem;
  }

  .presentcard {
    .content {
      margin-top: 40rem;
    }
  }
  // .header {
  //   padding: 1.5rem 2rem;
  // }
  // .home {
  //   min-height: 70vh;
  //   .content-contact {
  //     margin-top: 6rem;
  //   }
  // }
  // .about {
  //   .content {
  //     h3 {
  //       font-size: 3.5rem;
  //     }

  //     p {
  //       font-size: 1.8rem;
  //     }
  //   }
  // }

  // .w3-content {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;

  //   .mySlider {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //   }
  //   .w3-animate-fading {
  //     display: flex;
  //     align-self: center;
  //     width: 45vw;
  //   }
  //   span {
  //     font-weight: bold;
  //   }
  // }
}
@media (min-width: 297.98px) and (max-width: 1068.98px) {
  .presentcard_mac,
  .gallery-center-image .box-container-center-image,
  .gallery-center-image .box-container-center-image2,
  .one_mac {
    @include grid(33rem);
    max-width: 772px;
    padding: 1rem;
    column-gap: 0;
  }

  .mac_box_container,
  .mac_info_gallery .mac_info_container {
    @include grid(33rem);
    max-width: 760px;
    column-gap: 1rem;
  }
  html {
    font-size: 45%;
  }
  #menu-btn {
    display: inline-block;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    // .logo {
    //   @media (min-width: 297.98px) and (max-width: 378.98px) {
    //     font-size: 1.9rem;
    //   }
    // }

    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.9);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      height: 100vh;

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        background: rgba(0, 0, 0, 0.8);
        padding: 0 30px;
      }
      li {
        margin: 4rem;
        border-bottom: 0.1rem solid white;

        font-size: 2rem;
        display: block;

        &:hover {
          background: rgba(0, 0, 0, 0.4);
          padding: 0 30px;
        }
      }
    }
  }
  text mac page .content_mac {
    max-width: 772px;
    margin: auto;
    background-color: #fbfbfd;

    h2 {
      margin-top: 4rem;
      font-size: 5rem;
      font-weight: 450;
    }

    p {
      padding: 2rem 15rem;
      font-size: 2rem;
    }
  }

  // .home,
  // .home_mac,
  // .about_ipad,
  // .home_support,
  // .home_watch {
  //   min-height: 50vh;
  // }
}

// .home {
//   min-height: 50vh;
//   .content {
//     #email-s {
//       display: block;
//       font-size: 1.5rem;
//       font-weight: 900;
//       opacity: 0.5;
//       border-radius: 5px;
//       padding: 1rem;
//       margin-bottom: 1.5rem;
//       width: 60vw;
//     }

//     #party {
//       display: block;
//       font-size: 1.5rem;
//       font-weight: 600;
//       opacity: 0.5;
//       border-radius: 5px;
//       padding: 1rem;
//       width: 60vw;
//     }
//   }

//   input[type='text'],
//   select,
//   textarea {
//     display: flex;
//     color: $brown;
//     font-weight: 900;
//     opacity: 0.6;
//     width: 60vw;
//     padding: 1rem;
//     border-radius: 0.6rem;
//     margin-top: 1.5rem;
//     margin-bottom: 1.5rem;
//   }
// }
// .about {
//   .content {
//     h3 {
//       font-size: 3.5rem;
//     }

//     p {
//       font-size: 2.3rem;
//     }
//   }
// }
